.item .container {
    margin: 0;
    width: 100%;
}
.item .row {
    margin-bottom: 20px;
}
.item .tab-content p {
    text-align: justify;
    text-indent: 50px;
}
.item ._accodList p {
    text-align: justify;
    text-indent: 10px;
}
.item ul li {
    list-style-type: none;
}
.item .left-menu ol,
nav.mobile ol {
    counter-reset: li;
    list-style: none;
    list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
}
.item .left-menu ol ol,
nav.mobile ol ol {
    margin: 0 0 0 2em;
}
.item .left-menu ol a,
nav.mobile ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    padding: .4em;
    margin: .5em 0;
    background: #FFF;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}
.item .left-menu ol a:hover,
nav.mobile ol a:hover {
    background: #cbe7f8;
    text-decoration: underline;
}
.item .left-menu ol a:before,
nav.mobile ol a:before {
    content: "\2713";
    counter-increment: li;
    position: absolute;
    left: -0.5em;
    top: 55%;
    margin-top: -1.2em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 1.5em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #FFF;
}
.content div.breadcrumbs {
    font-size: 16px;
    margin: 10px 0;
}
.main-wrapper {
    padding: 20px 20px;
}
.inner-wrapper {
    position: relative;
    padding: 20px;
}
.tab-content figure.tab-image-left,
.tab-content figure.tab-image-right {
    float: left;
    width: 15%;
    min-width: 200px;
    padding: 15px;
}
.tab-content figure.tab-image-right {
    float: right;
    bottom: 0;
}
figure.tab-image-left img,
figure.tab-image-right img {
    width: 100%;
}
.item ._accodList li {
    text-decoration: none;
    margin-bottom: 5px;
}
.item ._accodList li strong {
    background: #fff;
}
.item ._accodList>li p {
    padding: 13px 33px 15px 33px;
}
.column-level p {
    font-size: 16px;
    line-height: 2;
}
.column-level.video {
    margin-top: 50px;
}
.item nav.left-menu {
    position: relative;
}
.item .vertical-menu-tab {
    background: #53afee;
    z-index: 1000;
    transform: rotate(90deg);
    border: none;
    padding: 10px 20px;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    top: 10%;
    left: 86%;
    text-align: center;
    color: #000;
    opacity: 0.8;
    display: none;
}
nav.left-menu,
section.news {
    background: #f1f6fc;
    font-size: 16px;
    padding: 30px 20px;
}
.left-menu li {
    font-size: 18px;
}
.left-menu li a {
    color: #0d4677;
}
.content.item .thumb-box3 {
    padding: 0 60px;
}
.item-tabs {
    border-bottom: 1px solid #ddd;
}
.tab-content .tab-pane {
    padding-top: 20px;
}
.tab-responsive-heading {
    display: none;
}
section.news li {
    margin-bottom: 20px;
    text-decoration: underline;
}
section.news .slogan {
    font: bold 24px 'Roboto Condensed';
    color: #53afee;
    text-transform: uppercase;
    padding: 0 20px 30px;
    text-align: center;
}

/***********MOBILE*********************/

.mobile.left-menu {
    display: none;
}
#close-left-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    background: #53afee;
    width: 20px;
    height: 20px;
    color: #fff;
}
.show {
    display: block;
}
.hide {
    display: none;
}

/***************MEDIA************** */

@media (max-width: 1999px) {
    section.news {
        display: none;
    }
}
@media (min-width: 1200px) {
    section.news {
        display: block;
    }
}
@media (min-width: 992px) {
    .content.item .thumb-box3 {
        padding: 0 30px;
    }
}
@media (max-width: 767px) {
    .content.item div.thumb-box3 {
        padding: 20px 0;
    }
    .column-level.video {
        margin-top: 30px;
    }
    .item nav.desctop.left-menu {
        width: 265px;
        position: absolute;
        transform: translateX(-287px);
        position: fixed;
        z-index: 2000;
    }
    .item .vertical-menu-tab {
        display: inline-block;
    }
    .container.column-level>div>div:nth-child(2) {
        padding-top: 20px;
    }
    .mobile.left-menu {
        position: fixed;
        width: 80%;
        max-height: 100%;
        overflow-y: scroll;
        margin: 0 auto;
        top: 50%;
        z-index: 3000;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 480px) {
    .container.column-level>div>div:nth-child(2) {
        padding-top: 20px;
    }
    .item .nav.nav-tabs {
        display: none;
    }
    .tab-responsive-heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .tab-content figure.tab-image-left, .tab-content figure.tab-image-right {
        min-width: 150px;    
}
.column-level p {
        line-height: 1.5;
}
}
