.item aside {
    margin: 0;
    padding: 0;
}

.item .container {
    margin: 0;
    width: 100%;
}

.item .row {
    margin-bottom: 20px;
}

.item .tab-content p {
    text-align: justify;
    text-indent: 50px;
}

.item ._accodList p {
    text-align: justify;
    text-indent: 10px;
}

.item ul li {
    list-style-type: none;
}

.item .nav.nav-tabs>li>a {
    font-size: 16px;
}

.item .left-menu ol,
nav.mobile ol {
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
}

.item .left-menu ol ol,
nav.mobile ol ol {
    margin: 0 0 0 2em;
}

.item .left-menu ol a,
nav.mobile ol a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #FFF;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.item .left-menu ol a:hover,
nav.mobile ol a:hover {
    background: #cbe7f8;
    text-decoration: underline;
}

.item .left-menu ol a:before,
nav.mobile ol a:before {
    content: "\2713";
    counter-increment: li;
    position: absolute;
    left: -0.5em;
    top: 55%;
    margin-top: -1.2em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 1.5em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color: #FFF;
}

.content div.breadcrumbs {
    font-size: 16px;
    margin: 10px 0;
}

.main-wrapper {
    padding: 20px 20px;
}

.inner-wrapper {
    position: relative;
    padding: 20px;
}

.tab-content figure.tab-image-left,
.tab-content figure.tab-image-right {
    float: left;
    width: 15%;
    min-width: 200px;
    padding: 15px;
}

.tab-content figure.tab-image-right {
    float: right;
    bottom: 0;
}

figure.tab-image-left img,
figure.tab-image-right img {
    width: 100%;
}

.item ._accodList li {
    text-decoration: none;
    margin-bottom: 5px;
}

.item ._accodList li strong {
    background: #fff;
}

.item ._accodList>li p {
    padding: 13px 33px 15px 33px;
}

.column-level p {
    font-size: 16px;
    line-height: 2;
}

.column-level.video {
    margin-top: 50px;
}

.item nav.left-menu {
    position: relative;
}

.item .vertical-menu-tab,
.vertical-menu-tab.doctor {
    background: #53afee;
    z-index: 1000;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border: none;
    padding: 10px 20px;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    top: -15%;
    left: 86%;
    text-align: center;
    color: #000;
    opacity: 0.8;
    display: none;
}

.vertical-menu-tab.doctor {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);    
    background: red;
    color: #FFF;
    font-size: 16px;
    padding: 10px 10px;
    opacity: 0.5;
    position: relative;
}

.button-wrapper.doctor {
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    z-index: 1000;
    top: 55%;
    /*bottom: 35%;*/
    left: -50px;
    position: fixed;
}

.button-wrapper.doctor:after {
    content: " ";
}

nav.left-menu,
section.news,
.mobile.right-menu,
.go-doctor {
    background: #f1f6fc;
    font-size: 16px;
    padding: 30px 20px;
}

section.go-doctor {
    margin-top: 40px;
    background: #fbe2e2;
    text-align: center;
    
}
section.go-doctor label{
    
    font: 18px 'trebuchet MS', 'lucida sans';
    color: #444;
}
section.go-doctor button{
    
    font: 18px 'trebuchet MS', 'lucida sans';
   
}

.left-menu li {
    font-size: 18px;
}

.left-menu li a {
    color: #0d4677;
}

.content.item .thumb-box3 {
    padding: 0 30px;
}

.item-tabs {
    border-bottom: 1px solid #ddd;
}

.tab-content .tab-pane {
    padding-top: 20px;
}

.tab-responsive-heading,
.tab-responsive-heading.active {
    display: none;
}

section.news li {
    margin-bottom: 20px;
    text-decoration: underline;
}

section.news .slogan {
    font: bold 24px 'Roboto Condensed';
    color: #53afee;
    text-transform: uppercase;
    padding: 0 20px 30px;
    text-align: center;
}


/***********MOBILE*********************/

.mobile.left-menu,
.mobile.right-menu {
    display: none;
}

.mobile.right-menu form label {
    font: 18px 'trebuchet MS', 'lucida sans';
}

#close-left-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    background: #53afee;
    width: 20px;
    height: 20px;
    color: #fff;
}

.show {
    display: block;
}

.hide {
    display: none;
}


/***************MEDIA************** */

@media (max-width: 1999px) {
    section.news {
        display: none;
    }
}

@media (min-width: 1200px) {
    section.news {
        display: block;
    }
}

@media (max-width: 767px) {
    .go-doctor {
        display: none;
    }
    .content.item div.thumb-box3 {
        padding: 0;
    }
    .column-level.video {
        margin-top: 30px;
    }
    .item nav.desctop.left-menu {
        width: 265px;
        position: absolute;
        -webkit-transform: translateX(-287px);
        transform: translateX(-287px);
        position: fixed;
        z-index: 2000;
    }
    .item .vertical-menu-tab {
        display: inline-block;
    }
    .container.column-level>div>div:nth-child(2) {
        padding-top: 20px;
    }
    .mobile.left-menu {
        position: fixed;
        width: 80%;
        max-height: 100%;
        overflow-y: scroll;
        margin: 0 auto;
        top: 50%;
        z-index: 3000;
        left: 50%;
        -webkit-transform: translate(-50%, -50%); 
        transform: translate(-50%, -50%);
    }
    .mobile.right-menu {
        background: #fbe2e2;
        position: fixed;
        max-width: 80%;
        max-height: 100%;
        overflow-y: scroll;
        margin: 0 auto;
        top: 50%;
        z-index: 3000;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #444;
    }
    #close-right-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #f50606;
        width: 20px;
        height: 20px;
        color: #fff;
    }
    .vertical-menu-tab.doctor {
        display: block;
    }
}

@media (max-width: 480px) {
    .container.column-level>div>div:nth-child(2) {
        padding-top: 20px;
    }
    .item .nav.nav-tabs {
        display: none;
    }
    .tab-responsive-heading.active {
        display: block;
    }
    .tab-responsive-heading {
        /*background-color: #93bcdb;*/
        background: -webkit-linear-gradient(top, #93bcdb 1%, #a7cfdf 50%, #93bcdb 100%);
        background: linear-gradient(to bottom, #93bcdb 1%, #a7cfdf 50%, #93bcdb 100%);
        color: #fff;
        /*border-top: 1px solid #333;*/
        -webkit-box-shadow: 5px 5px 5px #2A6096;
        box-shadow: 3px 5px 5px #9ea4ab;
        width: 95%;
        margin: 0 auto 8px;
        padding: 10px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .tab-content figure.tab-image-left,
    .tab-content figure.tab-image-right {
        min-width: 150px;
    }
    .column-level p {
        line-height: 1.5;
    }
}